@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    color: #003145;
}

#header-logo-container {
    height: 75px;
    width: 75px;
    margin-left: 40px;
    float: left;
}

#logo {
   padding-top: 10px;
    max-width: 100%;
    max-height: 100%; 
}

/*Navigation Menu*/

nav {
    display:flex;
    height: 75px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;  
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    text-align: right;
}

li a {
    text-decoration: none;
    color: #003145;
    padding: 20px;
    font-weight: 600;
}

li a:hover {
    text-decoration: underline;
    color: #003145;   
}

.active {
    text-decoration: underline;
    color: #003145; 
}

/*Hero Image - Home*/
.hero-image-container{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;
    background-size: cover;
}

.hero-text-box-left{
    font-size: 130%;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    width: 500px;
    height: 200px;
    padding: 20px;
    background-color: rgba(0, 49, 69, 0.7);
    top: 100px;
    left: 150px;
    position: absolute;
}

.hero-text-box-right{
    font-size: 130%;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    width: 500px;
    height: 200px;
    padding: 20px;
    background-color: rgba(0, 49, 69, 0.7);
    top: 100px;
    right: 150px;
    position: absolute;
}

.hero-text{
    color: #fff;
    font-size:medium;
    text-transform: none;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: justify;
    line-height: 20px;
    letter-spacing: normal;
}

/*Hero Image - Boat*/
#boat-hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/boat-hero.webp) no-repeat center bottom;
    background-size:cover;
}

/*Hero Image - Adventure*/
#adventure-hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/adventure-hero.webp) no-repeat center bottom;
    background-size:cover;
}

/*Hero Image - Contact*/
#contact-hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/contact-hero.webp) no-repeat center bottom;
    background-size:cover;
}

/*Hero Image - Thank You*/
#thanks-hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/thank-you-hero.webp) no-repeat center bottom;
    background-size:cover;
}


/*Opening text for each page*/
.opening-paragraph {
    width: 60%;
    margin: auto;
}

.opening-paragraph p {
    margin: 30px 40px 20px 40px;
    color: #003145;
    text-align: justify;
    font-weight: 100;
}


/*Crew Profiles*/
#crew-section-whole{
    background: rgba(0, 49, 69, 0.6);
    padding-bottom: 40px;
}

.crew-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 50px 200px 0 200px;
    padding: 5px;
}


#crew-title {
    text-align: center;
    color: #fff;
    font-family: Raleway, sans-serif;
    padding-top: 20px; 
    letter-spacing: 4px;
}

.crew-section > div {
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.crew-photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;  
    margin-left:25%;
    margin-top: 10px;
}

.crew-section > div > p {
    margin: 10px 30px 10px 30px;
    text-align: justify;
}
.crew-section > div > h3 {
    margin: 10px 30px 10px 30px;
    font-weight: bold;
}

.crew-photo:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);

}


/*Footer*/
footer {
    height: 100px;
   background: #003145;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
    padding-top: 30px;
}


.social-media a{
    color: #fff;
    font-size: 150%; 
    padding-top: 20px;
}

.social-media a:hover {
    color: gray;
}

.footer-text{
    color: #fff;
    text-align: center;
    font-size: small;
    margin-top: 10px;
}

/*The Boat Page*/
#lines-drawings {
  display: flex;
  align-items: center;
  justify-content: center;

}




#specs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

table > th, td {
    border: 1px solid #003145;
    padding: 5px;
  }

  table th {
    background: rgba(0, 49, 69, 0.6);
    color: #fff;
    padding: 5px;
  }

.boat-photos-container{
   display: grid;
   grid-template-columns: 23% 23% 23% 23%;
   align-items: center;
   column-gap: 10px;
   margin-bottom: 20px;
   width: 100%;
   justify-content: center;
}

.boat-photos-container > div > img {
    width: 100%;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    padding:2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

/*Photo gallery accordions*/
 .accordion {
    display: none;
}

.accordion-label {
    display: block;    
    text-align: center;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #003145;
    border-radius: 3px;
    color: #FFF;
}

.accordion-label:hover {
    background: rgba(0, 49, 69, 0.4);
}

.content {
    background: rgba(0, 49, 69, 0.5);
    color: #fff;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

/*Gallery pages*/

.image-grid {
    display: grid;
    grid-auto-rows: auto;
    gap: 16px;
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/*Contact Form*/
#contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.contact-form{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        color: #003145;
        border: #003145 solid 1px;
        padding: 30px;
}

.form-input{
    border: #003145 solid 1px;
    padding: 5px;
}

.form-input:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#contact-field{
    display: block;
}

.form{
    padding-bottom: 10px;
    padding-top: 10px;
}

.send-button {
    background: #003145;
    margin-top: 20px;
    color: #fff;
    padding:5px;
}

.send-button:hover{
    background: rgba(0, 49, 69, 0.7);
    cursor: pointer;
}


/*404 Page*/

#e404-container {
    border: #003145 solid 1px;
    clear: both;
    width: 75%;
    margin: 20px auto;
}

#e404-container > h1 {
        color: #003145;
        text-align: center;
        margin: 50px;
        text-decoration: underline;
}

#e404-container > h3 {
    color: #003145;
        text-align: center;
        padding-bottom: 10px;
}

#e404-container > p {
        color: #003145;
        text-align: center;
        margin-bottom: 50px;
}

#e404-container > div {
        text-align: center;
        height: 75px;
        margin-bottom: 50px;
}




/*MEDIA QUIRIES*/
/*Screens smaller than 1100px*/
@media screen and (max-width: 1100px) {
    .image-grid {
        --num-cols: 2;
}
    .crew-section{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    padding: 5px;
}
}

/*Screens smaller than 700px*/
@media only screen and (max-width: 700px) {

    .crew-section{
        width: 90%;
        margin: 10px;
    }

    nav { 
        height: 150px;
        padding-top: 10px;
        margin: 0;
    }
          
    nav li {
        display: block;
        padding: 10px;
    }

    .hero-text-box-left{
        width: 60%;
        height: auto;
        top: 40px;
        left: 40px;
    }
    
    .hero-text-box-right{
        width: 60%;
        height: auto;
        top: 40px;
        right: 40px;
    }

    #hero-image {
        background: url(../images/hero-image-mobile.jpg) no-repeat center center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .opening-paragraph {
        width: 90%;
        margin: auto;
    }
    
    .opening-paragraph p {
        margin: 10px;
        text-align: justify;
        font-weight: 100;
    }

    .boat-photos-container{
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
     }

}