@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    color: #003145;
}

#header-logo-container {
    height: 75px;
    width: 75px;
    margin-left: 40px;
    float: left;
}

#logo {
   padding-top: 10px;
    max-width: 100%;
    max-height: 100%; 
}

/*Navigaation Menu*/

nav {
    display:flex;
    height: 75px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;  
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    text-align: right;
}

li a {
    text-decoration: none;
    color: #003145;
    padding: 20px;
    font-weight: 600;
}

li a:hover {
    text-decoration: underline;
    color: #003145;   
}

.active {
    text-decoration: underline;
    color: #003145; 
}

/*Hero Image - Home*/

#hero-image-container{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: contain;
}

#hero-text-box{
    font-size: 130%;
    font-family: Raleway, sans-serif;
    font-weight: 400;/* Not working*/
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    width: 500px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 49, 69, 0.7);
    top: 100px;
    left: 150px;
    position: absolute;
}

#hero-text{
    color: #fff;
    font-size:medium;
    text-transform: none;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: justify;
    line-height: 20px;
    letter-spacing: normal;
}

/*Hero Image - Boat*/

#boat-hero-image-container{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#boat-hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/boat-hero.jpg) no-repeat center bottom;
    background-size:cover;
}

#boat-hero-text-box{
    font-size: 130%;
    font-family: Raleway, sans-serif;
    font-weight: 400;/* Not working*/
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    width: 500px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 49, 69, 0.7);
    top: 100px;
    right: 150px;
    position: absolute;
}

#boat-hero-text{
    color: #fff;
    font-size: medium;
    text-transform: none;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: justify;
    line-height: 20px;
    letter-spacing: normal;
}


/*Hero Image - Adventure*/

#adventure-hero-image-container{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#adventure-hero-image {
    width: 100%;
    height: 100%;
    background: url(../images/adventure-hero.jpg) no-repeat center bottom;
    background-size:cover;
}

#adventure-hero-text-box{
    font-size: 130%;
    font-family: Raleway, sans-serif;
    font-weight: 400;/* Not working*/
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    width: 500px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 49, 69, 0.7);
    top: 100px;
    right: 150px;
    position: absolute;
}

#adventure-hero-text{
    color: #fff;
    font-size: medium;
    text-transform: none;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: justify;
    line-height: 20px;
    letter-spacing: normal;
}




.opening-paragraph {
    margin: 50px 400px 20px 400px;
    text-align: justify;
}



.crew-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 50px 200px 0 200px;
    padding: 5px;
}

#crew-section-whole{
    background: rgba(0, 49, 69, 0.6);
    padding-bottom: 40px;
}

#crew-title {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding-top: 20px; 
}

.crew-section > div {
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.crew-photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;  
    margin-left:25%;
    margin-top: 10px;
}

.crew-section > div > p {
    margin: 10px 30px 10px 30px;
    text-align: justify;
}
.crew-section > div > h3 {
    margin: 10px 30px 10px 30px;
    font-weight: bold;
}

.crew-photo:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);

}


/*Footer*/

footer {
    height: 200px;
   background: #003145;
}

.social-media {
    text-align: center;
}

.social-media a{
    color: #fff;
    font-size: 150%;
}

.footer-text{
    color: #fff;
    text-align: center;
    font-size: small;
    margin-top: 10px;
}

#lines-drawings {
    display: flex;
  align-items: center;
  justify-content: center;
}

#specs {
    display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

table > th, td {
    border: 1px solid #003145;
    padding: 5px;
  }

  table th {
    background: rgba(0, 49, 69, 0.6);
    color: #fff;
    padding: 5px;
  }

 

.boat-photos-container{
   display: grid;
   grid-template-columns: 23% 23% 23% 23%;
   align-items: center;
   column-gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}


.boat-photos-container > div > img {
    width: 100%;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    padding:2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}


input {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label:hover {
    background: #4E8774;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

/*Gallery pages*/

.image-grid {
    columns: 4;
    

   /* --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-col), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);*/
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

